@model User
@inject UserManager<User> _userManager
@{
    ViewData["Title"] = "Details";
    var isConsultant = await _userManager.IsInRoleAsync(Model, "Consultant");
    var isAdmin = await _userManager.IsInRoleAsync(Model, "Admin");
}

@if (isConsultant)
{
    <h1>
        @Model.GetDisplayName()
    </h1>

    <h3><span class="badge badge-info">Consultant</span></h3>
}
@if (isAdmin)
{
    <h1>
        @Model.GetDisplayName()
    </h1>

    <h3><span class="badge badge-danger">Admin</span></h3>
}



@if (isConsultant || isAdmin)
{
    <br />

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Rollen:
            </dt>
            <dd class="col-sm-10">
                @ViewData["Role"]
            </dd>
        </dl>
    </div>

    <hr />
    <br />
    <div class="row">
        @foreach (var article in Model.Articles.OrderByDescending(a => a.PublicationDate))
        {
            <partial name="_ArticleCardPartial" model="article" />
        }
    </div>
}