@model ArticleComment
<!-- Single Comment -->
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="@Model.Author.GetProfileImageUrl()" alt="@Model.Author.GetDisplayName()" width="50" height="50">
    <div class="media-body">
        <h5 class="mt-0"><a>@Model.Author.GetDisplayName()</a></h5>
        @Html.DisplayFor(m => m.Content)
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <br />
        <form method="post" asp-action="DeleteComment">
            <input type="hidden" name="id" value="@Model.ArticleId" />
            <input type="hidden" name="commentId" value="@Model.Id" />
            <button class="btn btn-link">Delete</button>
        </form>
    }
</div>