@model CLAD.Models.Article

@{
    ViewData["Title"] = "Details";
}


@if (User.Identity.IsAuthenticated && User.IsInRole("Consultant"))
{
    <a asp-action="Create">Create new</a>
}

<div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4">@Html.DisplayFor(model => model.Title)</h1>
        <!-- Author -->
        <p class="lead">
            by @Model.Author.GetDisplayName()
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Geplaatst op @Html.DisplayFor(model => model.PublicationDate)</p>

        <p>@Html.Raw(Model.Content)</p>

        <partial name="_PostCommentPartial" model="@new PostCommentModel()" />

        @foreach (var comment in Model.Comments.OrderByDescending(c => c.PublicationDate))
        {
            <partial name="_ArticleCommentPartial" model="comment" />
        }
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">Freebies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">JavaScript</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
@*<div>
        <h4>Article</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Comments)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Comments)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PublicationDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PublicationDate)
            </dd>
        </dl>
    </div>*@
<div>
    <a asp-action="Index">Back to List</a>
</div>
