@model CLAD.Models.Article

@{
    string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
}


@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}


@if (User.Identity.IsAuthenticated && User.IsInRole("Consultant"))
{
    <a asp-action="Create">Create new</a>
}

<div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4">@Html.DisplayFor(model => model.Title)</h1>
        <!-- Author -->
        @if (User.Identity.IsAuthenticated)
        {
            <p class="lead">
                by <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.Author.GetDisplayName()</a>
            </p>
        }
        else
        {
            <p class="lead">
                by @Model.Author.GetDisplayName()
            </p>
        }
        <hr>
        <!-- Date/Time -->
        <p>Geplaatst op @Html.DisplayFor(model => model.PublicationDate)</p>

        <p>@Html.Raw(Model.Content)</p>

        <div class="fb-share-button" data-href="@currentUrl" data-layout="button" data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@enc" class="fb-xfbml-parse-ignore">Delen</a>
        </div>

        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?url=@currentUrl"
           data-size="large">
            <i class="fab fa-twitter"></i>
        </a>

        <partial name="_PostCommentPartial" model="@new PostCommentModel()" />

        @foreach (var comment in Model.Comments.OrderByDescending(c => c.PublicationDate))
        {
            <partial name="_ArticleCommentPartial" model="comment" />
        }
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Tags</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                            @foreach(var tag in Model.Tags)
                            {
                                <li class="col-lg-6">
                                    <a asp-controller="Articles" asp-action="Tag" asp-route-id="@tag.TagId">@tag.Tag.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
@*<div>
        <h4>Article</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Comments)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Comments)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PublicationDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PublicationDate)
            </dd>
        </dl>
    </div>*@
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v3.2"></script>
