@model IEnumerable<CLAD.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h2>Artikelen</h2>
<hr />

@if (User.Identity.IsAuthenticated && (User.IsInRole("Consultant") || User.IsInRole("Admin")))
{
    <a asp-action="Create" class="btn btn-primary">Create new</a>
}
<hr />
<ul class="row">
    @foreach (var item in Model)
    {
        <li class="col-md-4 mb-5 list-unstyled">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                    <p>
                        <div class="font-weight-bold float-left mr-3">Author: </div><div>@item.Author.GetDisplayName()</div>
                    </p>
                    <p class="card-text">@Html.Raw(item.Content.TruncateHtml(150, "..."))</p>
                    <br />
                    @foreach (var tag in item.Tags)
                    {
                        <a asp-controller="Articles" asp-action="Tag" asp-route-id="@tag.TagId" class="badge badge-secondary">
                            @tag.Tag.Name
                        </a>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Verder Lezen</a>
                </div>
            </div>
        </li>
    }
</ul>
