@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<CLAD.Models.ConsultantViewModel>


@{
    ViewData["Title"] = "Consultants";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-sm-4">
                <img class="mx-auto d-block" src="@item.User.GetProfileImageUrl()" style="border-radius: 50%; width: 150px; height: 150px;" />
                <br />
                <h2><span style="text-align: center;">@item.User.UserName</span></h2>
                <br />
                <p>@item.User.GetDescription()</p>

                @foreach(var article in item.Articles)
                {
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">@article.Title</a><br/>
                }
            </div>
        }
    </div>
</div>
